{% extends 'index.html' %}

{% load static %}

{% block PostList %}

{% if object_list %}

<div class="row">
    {% for post in object_list  %}
    <div class="col-sm-6">
        
        <div class="card-header"><b>{{post.titulo}}</b> </div> 
            <div class="card-body">
    
                
                {{post.subtitulo|safe}}
                <p><p>
                    <a class="btn btn-outline-dark" href={% url 'post detail' post.id %}>Ver</a>
                {% if request.user.is_superuser %}
                    <a class="btn btn-outline-dark" href={% url 'post delete' post.id %}>Eliminar</a>
                {% endif %}
                {% if request.user.is_superuser  %}
                    <a class="btn btn-outline-dark" href={% url 'post update' post.id %}>Editar</a>
                {% endif %}
                </p></p>
                <b>{{post.fecha}} | </b><i><a href={% url 'filtro ' post.categoria %}>{{post.categoria}}</a></i><b> | {{post.autor}} </b>
            </div>
           
        
    </div>
    {% endfor %}
    </div>
    
{% else %}

    No hay publicaciones de esta categoría.

{% endif %}


{% endblock PostList %}