{% extends 'indexdetail.html' %}

{% load static %}


{% block imagen %}
{% if post.imagen %}

<div class="text-center">
        
        <img src={{post.imagen.url}} class="img-fluid" width='10000'>

</div>
{% else  %}
        <header class="py-5 bg-light border-bottom mb-4"  style="background-image: url(https://thumbs.dreamstime.com/b/banner-web-de-perro-y-gato-sonrientes-peque%C3%B1o-sonriente-los-lados-una-pancarta-blanca-o-portada-medios-sociales-169548015.jpg); width:100%; background-repeat: no-repeat; background-size: cover;">
            <div class="container">
                <br>
                <br>
                <br>
                <div class="text-center my-5">
                <b>
                    <h1 style='color:dark' class="fw-bolder">Blog de Mascotas!</h1>
                    <h3 style='color:dark' class="lead mb-0"><i>Un lugar donde encontraras todo tipo de informacion </i></h3>
                    <h3 style='color:dark' class="lead mb-0"><i>para tus amiguitos de 4 patas </i></h3>
                    
                </b>
                </div>
                <br>
                <br>

            </div>
        </header>
        
{% endif %}
{% endblock imagen %}



{% block detail  %}
<div class="card border-dark mb-16">
    
        <h1>{{post.titulo}}</h1>
        <p>{{post.contenido|safe}}</p>
        
    
</div>


{% endblock  %}

