{% extends 'indexsobremi.html' %}

{% load static %}

{% block sobremi %}
                          
<div class=class="card border-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={% static 'AppBlog/imagen/sobremi.png' %} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-16">
        <div class="card-body">
          <h5 class="card-title"><i><u>Sobre mi.</u></i></h5>
          <h5  class="card-text">Sebastian D'Imperio. 33 años. Vivo en Ciudadela, partido de 3 de Febrero. (Buenos Aires - Argentina)</h5> <h5  class="card-text">Soy Profesor de Matemáticas y actualmente trabajo en el Servicio Penitenciario Federal.</h5>
          <br>
          <h5 class="card-title"><i><u>Sobre el Proyecto.</u></i></h5>
          <h5 style='color:white' class="card-text">Amamos por encima de todo a nuestras mascotas, hemos pasado por muchas cosas: el cuidado de nuestros cachorritos, de una mami embarazada, la pérdida de uno de nuestros animalitos, operaciones varias, alergias y todo lo que supone tener una mascota y ¡no dudaríamos en repetir infinitas veces todo este camino!</h5>
          <h5 style='color:white'>Es por eso que se creo este Blog, con el objetivo de encontrar en un lugar todas las inquietudes, consejos, opiniones o dudas sobre el cuidado de nuestros Amiguitos de 4 patas. </h5>
        </div>
      </div>
    </div>
  </div>
                            
{% endblock sobremi %}