{% extends 'indexlogin.html' %}

{% load static %}

{% block login%}
<ul>
    <form action="" method="post"> {% csrf_token %}

        <table>
            <br>
            <h2 style='color:dark'>Hola !</h2>
            {{form.as_table}}
        </table>
    <br>
    <br>
        <button class="btn btn-danger" type="submit">Iniciar Sesión</button>
    
    </form>
<p></p>  

<br>
<p style="color:white"> Usuario nuevo? <a  style="color:white" href={% url 'registro' %}>Registrarse</a> </p>

</ul>
{% endblock %}