{% extends 'indexuser.html' %}

{% load static %}

{% block perfil %}

<div class="card" style="width: 24rem;">
  
  <img src={{imagenperfil}} class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{user.username}}</h3>
    <h6 class="card-title">{{user.first_name}} {{user.last_name}}</h6>
    <h6 class="card-title">{{user.email}}</h6>
    <br>
    <p class="card-text"><b><i>Sobre mi:</i></b></p>
    <p class="card-text">{{sobremi}}</p>
  </div>
  <ul class="list-group list-group-flush">

    <li class="list-group-item"><b><i>Instagram:</i></b> <a href={{instagram}}>{{instagram}}</a></li>
    <li class="list-group-item"><b><i>Facebook:</i></b><a href={{facebook}}> {{facebook}}</a></li>
    <li class="list-group-item"><b><i>Twitter:</i></b><a href={{twitter}}> {{twitter}}</a></li>
  </ul>
  <div class="card-body">
    {% if not imagenperfil %}
    <a class="btn btn-outline-dark" href={% url 'add avatar' %}>Agregar Avatar</a>
    {% else %}
    <a class="btn btn-outline-dark" href={% url 'add avatar' %}>Actualizar Avatar</a>
    {% endif %}
    <a class="btn btn-outline-dark" href={% url 'edit user' %}>Editar Información</a>
  </div>
</div>

{% endblock perfil %}



